<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FLOWER SEACHER</title>
  </head>

  <body>
    <h2>花検索アプリ</h2>
    <h1>Flower Searcher</h1>
    <p>
      Flower Searcherは、入力された花の種類を認識するアプリです。
      <br />
      認識したい花の画像をアップロードしてみましょう。
    </p>
    <form enctype="multipart/form-data" action="{% url 'app:upload' %}" method="POST">
      {% csrf_token %} {{form.as_p}}
      <br />
      <button type="submit">Upload</button>
      <a href="{% url 'app:showall' %}">過去の結果一覧を見る</a>
    </form>

    <p>
      対応している花の種類は以下の通りです。
      <br />
      結果表示は<strong>英名</strong>になります。
    </p>
    <table border="1" style="border-collapse: collapse">
      <thead>
        <tr col style="background-color: yellow">
          <th>英名</th>
          <th>和名</th>
        </tr>
        <tr>
          <td>Tulip</td>
          <td>チューリップ</td>
        </tr>
        <tr>
          <td>Snowdrop</td>
          <td>スノードロップ</td>
        </tr>
        <tr>
          <td>LilyValley</td>
          <td>スズラン</td>
        </tr>
        <tr>
          <td>Bluebell</td>
          <td>ブルーベル</td>
        </tr>
        <tr>
          <td>Crocus</td>
          <td>クロッカス</td>
        </tr>
        <tr>
          <td>Iris</td>
          <td>アイリス</td>
        </tr>
        <tr>
          <td>Tigerlily</td>
          <td>タイガーリリー</td>
        </tr>
        <tr>
          <td>Daffodil</td>
          <td>スイセン</td>
        </tr>
        <tr>
          <td>Fritillary</td>
          <td>ヨウラクユリ</td>
        </tr>
        <tr>
          <td>Sunflower</td>
          <td>ヒマワリ</td>
        </tr>
        <tr>
          <td>Daisy</td>
          <td>デイジー</td>
        </tr>
        <tr>
          <td>ColtsFoot</td>
          <td>フキタンポポ</td>
        </tr>
        <tr>
          <td>Dandelion</td>
          <td>タンポポ</td>
        </tr>
        <tr>
          <td>Cowslip</td>
          <td>カウスリップ</td>
        </tr>
        <tr>
          <td>Buttercup</td>
          <td>キンポウゲ</td>
        </tr>
        <tr>
          <td>Windflower</td>
          <td>アネモネ</td>
        </tr>
        <tr>
          <td>Pansy</td>
          <td>パンジー</td>
        </tr>
      </thead>
    </table>
  </body>
</html>
